# Spam Email Detection using Naive bayes

In this Notebook, I have built a Classification model based on Naive bayes theorem.

This model detects whether the email is spam or not based on the words used in spammy emails.**bold text**

In [1]:
import pandas as pd
dt = pd.read_csv("spam.csv")

In [2]:
dt.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
dt.groupby('Category').describe()

         Message
           count unique                                                top freq
Category
ham         4825   4516                             Sorry, I'll call later   30
spam         747    641  Please call our customer service representativ...    4

In [4]:
dt['spam'] = dt['Category'].apply(lambda x:1 if x=='spam' else 0)
dt.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(dt.Message, dt.spam)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_trained = v.fit_transform(X_train)
X_trained.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [7]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_trained, y_train)

MultinomialNB()

In [8]:
emails = [
          'Hey Rohan, can we get together to watch football?',
          'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)
model.predict(emails_count)

array([0, 1])

In [9]:
X_tested = v.transform(X_test)
model.score(X_tested, y_test)

0.9863603732950467

In [10]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
                ('vectorizer', CountVectorizer()),
                ('mb', MultinomialNB())
])

In [11]:
clf.fit(X_train, y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('mb', MultinomialNB())])

In [12]:
clf.score(X_test, y_test)

0.9863603732950467

In [13]:
clf.predict(emails)

array([0, 1])